/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "InaiMathi";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/InaiMathi.ttf");
}

/* Global */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Toolbar & Headline */

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background: #3c3a39;
  flex: 0 1 46px;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.items {
  flex: 1;
  display: flex;
  align-items: center;
}

.item {
  height: min-content;
}

.item1,
.item5 {
  flex-grow: 1;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  color: #fff;
  padding-left: 24px;
}

.item1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.item5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.item2,
.item3,
.item4 {
  padding: 0 3px;
}

.item4 {
  padding-right: 19px;
}

.item6 {
  padding-right: 36px;
}

.main {
  background: #1c1a19 url("../img/cool_style-2.svg") right bottom no-repeat;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 87%;
}

.box {
  font-style: normal;
  width: fit-content;
  margin: 6px 0;
}

.title {
  font-family: Crete Round, Arial, sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.presentation {
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: 24px;
  color: #fff;
}

.linkicons {
  color: #fff;
  width: fit-content;
  margin-top: 16px;
}

.linkicons li {
  padding: 0 10px;
}

button {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  cursor: pointer;
}

button:enabled {
  color: #fff;
  background: #f55800;
  border: 1px solid #ff6b00;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.hidden {
  display: none;
}

/* Works */

.container2 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.title2 {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
  width: fit-content;
  margin-top: 120px;
  margin-bottom: 62px;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box2 {
  width: 87%;
  padding: 6px 0;
}

.img2 {
  padding: 18px 0;
}

.img2 img {
  width: 100%;
}

.subtitle2 {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
}

.p2 {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #091e42;
  margin: 0;
}

.list2 {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #091e42;
  display: flex;
}

.list2 li {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
  width: 87%;
  margin-top: 18px;
  justify-content: center;
}

.project {
  background-image: url("../img/projects_bg.svg");
  display: flex;
  flex-direction: column;
  max-width: 327px;
}

.box3 {
  margin: 6px 16px;
}

.title3 {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 84px;
}

.p3 {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.list3 {
  display: flex;
  margin-bottom: 22px;
}

.list3 li {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
}

/* About me */

.container3 {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container4 {
  background: url("../img/cool_style-3.svg") right bottom no-repeat;
}

.main4 {
  width: 87%;
  margin: auto;
  padding-bottom: 185px;
  border-bottom: 1px solid #fff;
}

.box4 {
  margin: 24px 0;
}

.title4 {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  margin-top: 120px;
}

.p4 {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
}

.container5 {
  width: 87%;
  margin: auto;
  text-align: center;
  padding: 105px 0;
}

.title5 {
  font-family: InaiMathi, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  padding: 28px 0;
}

.title5 img {
  margin-right: 12px;
}

.items5 {
  font-family: Inter, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  color: #fff;
  padding: 16px 0;
}

/* Contact */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box5 {
  width: 87%;
}

.interest {
  font-family: Inter, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 120px 0 59px 0;
}

.form > ul {
  display: flex;
  flex-direction: column;
}

.border-bottom {
  padding: 14px 0;
  border-bottom: 1px solid #dbd8d7;
}

.form li {
  display: flex;
  justify-content: center;
}

.form li + li {
  margin-top: 25px;
}

.form input {
  border: none;
  width: 90%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

textarea::-webkit-resizer {
  background-image: url(../img/textarea_resizer.svg);
}

.form textarea {
  width: 100%;
  height: 114px;
  padding: 12px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
}

.footer-social-container {
  margin-top: 124px;
  width: 100%;
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social li + li {
  padding-left: 23px;
}

.black-line {
  width: 36%;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 23px 0 8px 0;
}
