/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "InaiMathi";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/InaiMathi.ttf");
}

/* Global */

* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/* Toolbar */

.header {
  background: #3c3a39;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
}

.toolbar {
  width: 100%;
  margin: auto 0;
}

.toolbar-list {
  display: flex;
  align-items: center;
  margin: 0 9.6% 0 6.4%;
}

.toolbar-item-1 {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-right: auto;
}

/* Headline */

.headline {
  height: 100vh;
  padding-top: 46px;
  background: #1c1a19 url("../img/bg_headline.svg") right bottom no-repeat;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 120px 6.4%;
}

.headline-title {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline-subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 12px;
}

.headline-p {
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 12px;
}

.headline-list {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.headline-list-item1 {
  margin-left: 11px;
}

/* Button */

button {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  cursor: pointer;
}

button:enabled {
  color: #fff;
  background: #f55800;
  border: 1px solid #ff6b00;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

/* Works */

.works-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 120px 6% 0 6%;
}

.works-title {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: 24px;
  width: fit-content;
  margin: 0 auto;
}

.works-black-line {
  height: 1px;
  background-color: #212121;
}

.works-img {
  margin-top: 80px;
  width: 100%;
}

.works-subtitle {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-top: 24px;
}

.works-p {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 12px;
}

.works-skills-list {
  display: flex;
  margin-top: 12px;
}

.works-skills-list li {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.works-button {
  margin-top: 12px;
}

.projects {
  margin-top: 24px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: auto;
  justify-content: center;
  margin-bottom: 120px;
}

.project {
  background-image: url("../img/bg_project4.svg");
  display: flex;
  flex-direction: column;
  max-width: 327px;
  padding-top: 84px;
}

.project-container {
  padding: 0 16px;
}

.project-title {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-p {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 12px;
}

.project-skill-list {
  display: flex;
  margin-top: 12px;
}

.project-skill-list li {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
}

.project2 {
  background-image: url("../img/bg_project2.svg");
}

.project3 {
  background-image: url("../img/bg_project3.svg");
}

.project4 {
  background-image: url("../img/bg_project4.svg");
}

.project5 {
  background-image: url("../img/bg_project5.svg");
}

.project6 {
  background-image: url("../img/bg_project6.svg");
}

.project > button {
  margin-top: 22px;
}

/* About me */

.about-me {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-headline-container {
  padding-top: 120px;
  background: url("../img/bg_about-me.svg") right bottom no-repeat;
}

.about-me-headline {
  margin: 0 6.4%;
}

.about-me-headline-title {
  font-family: Crete Round, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.about-me-headline-p {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 24px;
}

.about-me-button {
  margin-top: 24px;
}

.about-me-white-line {
  height: 1px;
  background-color: #fff;
  margin: 209px 6.4% 0 6.4%;
}

.about-me-lists {
  margin: 93px 0 132px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-me-lang-title,
.about-me-frame-title,
.about-me-skills-title {
  font-family: InaiMathi, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  margin: 44px 0;
}

.about-me-lists img {
  margin-right: 12px;
}

.about-me-lang-item,
.about-me-frame-item,
.about-me-skills-item {
  font-family: Inter, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  color: #fff;
}

.about-me-lang-item + .about-me-lang-item,
.about-me-frame-item + .about-me-frame-item,
.about-me-skills-item + .about-me-skills-item {
  margin-top: 32px;
}

/* Contact */

.contact {
  margin: 120px 6.4% 59px 6.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form {
  width: 100%;
  margin-top: 57px;
}

.contact-form-list {
  display: flex;
  flex-direction: column;
}

.border-bottom {
  padding: 14px 0;
  border-bottom: 1px solid #dbd8d7;
}

.contact-form-list > li {
  display: flex;
  justify-content: center;
}

.contact-form input {
  border: none;
  width: 90%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.contact-form textarea {
  width: 100%;
  height: 114px;
  padding: 12px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
}

/* Footer */

.footer {
  margin-top: 124px;
  width: 100%;
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.footer-list {
  display: flex;
  align-items: center;
}

.black-line {
  width: 36%;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 23px 0 8px 0;
}

/* li + li */

.headline-list li + li {
  margin-left: 23px;
}

.works-skills-list li + li {
  margin-left: 12px;
}

.contact-form li + li {
  margin-top: 25px;
}

.footer-list li + li {
  margin-left: 23px;
}
